#body {
  background-image: url("../../assets/NotFound.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#btn {
  margin-top: 480px;
  margin-left: 93px;
  background-color: #ffa900;
  color: #ffffff;
  border-color: #f3f2ef;
  padding-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 65px;
  padding-right: 48px;
  border-radius: 35px;
  font-size: 38px;
}
