<section class="page-section bg-light" id="portfolio">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading">Directions List</h2>
      </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4" *ngFor="let direction of directions" style="position: inherit !important;">              
          <div class="portfolio-item" >
                  <a class="portfolio-link" routerLink="/inter/directions-details/{{direction.id_Direction}}" style="width: 295px;border-radius: 15px;
                  box-shadow: 3px 2px #bfb9b9, -1em 0 5.4em grey;">
                      <div class="portfolio-hover" >
                          <div class="portfolio-hover-content" >
                            <i class="fas fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <div class="portfolio-caption">
                        <div class="portfolio-caption-heading" style="font-size:27px;font-family: comic sans ms;" >
                          {{direction.nom_Direction}}
                        </div>
                    </div>
                  </a>
                  
              </div>
          </div>
      </div>
  </div>
</section>