<div  *ngIf="notification" style="transform: none;width: 650px;">
  <h2><i class="fas fa-bell" style="color:#ffc107;font-size: 42px;margin-right: 27px;"></i> Notification</h2>
  <h3>{{notification.message}}</h3>
<div class="btn">
  <div style=" margin-left: 330px;">
    <button *ngIf="authService.isChefService()" routerLink="/inter/directions-details/{{notification.id_D}}" (click)="closeDetails()" class="btn btn-info " >Check it</button>
    <button *ngIf="authService.isPilote()" (click)="AjouterFormation()" class="btn btn-info " >Check it</button>
  </div>
  <div  style="margin-left: 120px !important;">
    <button (click)="closeDetails()" class="btn btn-danger" style="margin-left: 16px;">Close</button>
  </div>
  </div>

</div>