<app-navbar-external></app-navbar-external>
<div class="body">
	<div class="contact1">
		<div class="container-contact1">
			<div class="contact1-pic js-tilt" data-tilt>
				<img src="../../../assets/message.png" alt="IMG" id="ImgSend">
			</div>
    <div>
      <span class="contact1-form-title">
        Contact us
      </span>
			<form >
				<div>
					<input class="form-control" type="text" name="name" placeholder="Name">
					<span class="shadow-input1"></span>
				</div>

				<div>
					<input class="form-control" type="text" name="email" placeholder="Email">
				</div>

				<div>
					<textarea class="form-control" name="message" placeholder="Message"></textarea>
				</div>

				<div class="container-contact1-form-btn">
					<button id="btnSend">
						<span>
							Send Message &nbsp;&nbsp;
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
    </div>
		</div>
	</div>

  <div class="row" >
    <div class="col-md-3">
      <div class="dbox w-100 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="fa fa-map-marker" id="iconLien"></span>
        </div>
        <div class="text">
          <p><span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address:</span> Avenu Habib Thameur , <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;7018 - Bizerte (Tunis)</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="dbox w-100 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="fa fa-phone" id="iconLien"></span>
        </div>
        <div class="text">
          <p><span>Phone : </span> <a href="tel://72431166"> 72 431 166 / 72 432 079 </a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="dbox w-100 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="fa fa-paper-plane" id="iconLien"></span>
        </div>
        <div class="text">
          <p><span>Email : </span> <a href="mailto:boc@scb.ind.tn">boc@scb.ind.tn</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="dbox w-100 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="fa fa-globe" id="iconLien"></span>
        </div>
        <div class="text">
          <p><span>Website : </span> <a routerLink="//home">scb.ind.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
