.body
{
  padding-top: 50px;
  /* background: #5479ed;
  background: linear-gradient(90deg, #5479ed 0%, #43a1f3 50%, #2ed3fb 100%); */
  background: #5479ed;
  background: linear-gradient(90deg, #5479ed 0%, #43a1f3 50%, #2ed3fb 100%);

}
#iconLien{
  background-color: white;
    padding: 20px;
    margin-top: 49px;
    margin-bottom: 10px;
    border-radius: 221%;
    font-size: 33px;

}
.container-contact1{
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: white;
  border-radius: 20px;
  padding:47px;
  margin-left: 50px;
  margin-right: 50px;
}

#ImgSend{
  height: 433px;
    width: 377px;
    margin-left: 59px;
    margin-top: 33px;
}



.contact1-form-title
{
  padding-left: 188px;
  font-size: 41px;
  font-weight: bold;
  padding-bottom: 34px;
}

form
{
  padding-top: 68px;
  padding-left: 25px;
  padding-right: 33px;
}
textarea{
  margin-bottom: 15px;
  border-radius: 15px;
  height: 114px;

  font-size: 25px;

  font-family: comic sans ms;
  background-color: rgb(202, 199, 199);

}
input{
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 13px;

  font-size: 25px;
  height: 42px;

  font-family: comic sans ms;
  background-color: rgb(202, 199, 199);
}

#btnSend{
  border-color:#5479ed;
  background: #5479ed;
  background: linear-gradient(90deg, #5479ed 0%, #43a1f3 50%, #2ed3fb 100%);
    border-radius: 15px;
    padding: 15px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    font-weight: bold;
    margin: 24px;
    margin-left: 134px;
}



img{
  transform: translateX(-500px);
  animation: fadeIn 1.5s;
  animation-fill-mode: forwards
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateX(-500px)
  }

  100% {
      opacity: 1;
      transform: translateX(0px)
  }
}



#validate{
  font-family: comic sans ms;
  font-size: 17px;
  font-weight: bold;
  padding-left: 31px;
  padding-bottom: 8px;
}

.form-control.ng-touched.ng-invalid {
  border:2px solid #ff0000;
 }
 .form-control.ng-touched.ng-valid {
  border:2px solid rgb(9, 211, 9);
 }
