<div class="main-content" style="background-color: #f3f5f9" *ngIf="user">
  <div class="container" style="padding-left : 35px !important;padding-top: 30px;padding-right: 30px !important;">
    <div class="row">
      <section id="content" class="container">
        <!-- Begin .page-heading -->
        <div class="page-heading">
          <div class="media clearfix">
            <div class="media-left pr30">
              <a href="#">
                <!-- <img class="media-object mw150" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="..."> -->
                <img class="media-object mw150" src="../../../assets/UserImage.png" alt="...">
              </a>
            </div>
            <div class="media-body va-m">
              <h2 class="media-heading"
                style="font-weight: bold;font-size: 50px;padding-left: 94px;padding-top: 109px;font-family: comic sans ms;">
                {{user.prenom}} {{user.nom}}
                <small style="font-size: 25px !important;"> - Profile</small>
              </h2>
              <div>
                <ul class="list-inline list-unstyled" style="padding-top: 21px;padding-left: 199px;">
                  <li>
                    <a href="#" title="facebook link">
                      <span class="fab fa-facebook-square fs35 text-primary"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="twitter link">
                      <span class="fab fa-twitter-square fs35 text-info"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="google plus link">
                      <span class="fab fa-google-plus-square fs35 text-danger"></span>
                    </a>
                  </li>
                  <li class="hidden">
                    <a href="#" title="behance link">
                      <span class="fa fa-behance-square fs35 text-primary"></span>
                    </a>
                  </li>
                  <li class="hidden">
                    <a href="#" title="pinterest link">
                      <span class="fa fa-pinterest-square fs35 text-danger-light"></span>
                    </a>
                  </li>
                  <li class="hidden">
                    <a href="#" title="linkedin link">
                      <span class="fa fa-linkedin-square fs35 text-info"></span>
                    </a>
                  </li>
                  <li class="hidden">
                    <a href="#" title="github link">
                      <span class="fa fa-github-square fs35 text-dark"></span>
                    </a>
                  </li>
                  <li class="">
                    <a href="#" title="phone link">
                      <span class="fa fa-phone-square fs35 text-system"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="email link">
                      <span class="fa fa-envelope-square fs35 text-muted"></span>
                    </a>
                  </li>
                  <li class="hidden">
                    <a href="#" title="external link">
                      <span class="fa fa-external-link-square fs35 text-muted"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="panel">
              <div class="panel-heading">
                <span class="panel-icon">
                  <i class="fa fa-trophy" style="font-size: 18px;"></i>
                </span>
                <span class="panel-title" style="font-weight: bold;"> My Skills</span>
              </div>
              <div class="panel-body pb5" style="height: 120px;padding-top: 20px; ">
                <span class="label label-warning mr5 mb10 ib lh15"
                  style="font-size: 14px;margin-right: 10px;">Communication</span>
                <span class="label label-primary mr5 mb10 ib lh15" style="font-size: 14px;margin-right: 10px;">Computer
                  skills</span><br><br>
                <span class="label label-info mr5 mb10 ib lh15"
                  style="font-size: 14px;margin-right: 10px;">LeaderShip</span>
                <span class="label label-success mr5 mb10 ib lh15"
                  style="font-size: 14px;margin-right: 10px;">Problem-solving</span><br><br>
                <span class="label label-warning mr5 mb10 ib lh15" style="font-size: 14px;margin-right: 10px;">Time
                  Management</span>
                <span class="label label-primary mr5 mb10 ib lh15" style="font-size: 14px;margin-right: 10px;">Customr
                  service</span>

              </div>
            </div>

            <div class="panel">
              <div class="panel-heading">
                <span class="panel-icon">
                  <i class="fas fa-info-circle" style="font-size: 18px;"></i>
                </span>
                <span class="panel-title" style="font-weight: bold;">About Me</span>
              </div>
              <div class="panel-body pb5">

                <h6 style="font-size: 15px;color: gray;padding-top: 10px;">Experience</h6>

                <h4 style="font-size: 20px;padding-left: 12px;">Facebook Internship</h4>
                <p class="text-muted" style="font-size: 15px;"> University of Missouri, Columbia
                  <br> Student Health Center, June 2010 - 2012
                </p>

                <hr class="short br-lighter">

                <h6 style="font-size: 15px;color: gray;padding-top: 10px;">Education</h6>

                <h4 style="font-size: 20px;padding-left: 12px;">Bachelor of Science, PhD</h4>
                <p class="text-muted" style="font-size: 15px;"> University of Missouri, Columbia
                  <br> Student Health Center, June 2010 through Aug 2011
                </p>

                <hr class="short br-lighter">

                <h6 style="font-size: 15px;color: gray;padding-top: 10px;">Accomplishments</h6>

                <h4 style="font-size: 20px;padding-left: 12px;">Successful Business</h4>
                <p class="text-muted pb10" style="font-size: 15px;"> University of Missouri, Columbia
                  <br> Student Health Center, June 2010 through Aug 2011
                </p>

              </div>
            </div>

          </div>
          <div class="col-md-8">

            <div class="panel">
              <div class="panel-heading">
                <span class="panel-icon">
                  <i class="fas fa-info-circle" style="font-size: 18px;"></i>
                </span>
                <span class="panel-title" style="font-weight: bold;font-size: 20px;">{{EtatProfil}}</span>
              </div>
              <div class="panel-body pb5" style="padding-left: 53px; padding-right: 2px;padding-top: 27px; ">
                <div *ngIf="test == true ; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputEmail4">First Name</label>
                    </div>
                    <div class="form-group col-md-7">
                      <p style="font-size: 20px;"> {{user.nom}} </p>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputEmail4">Last Name</label>
                    </div>
                    <div class="form-group col-md-7">
                      <p style="font-size: 20px;"> {{user.prenom}} </p>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputEmail4">CIN</label>
                    </div>
                    <div class="form-group col-md-7">
                      <p style="font-size: 20px;"> {{user.cin}} </p>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputEmail4">Tel</label>
                    </div>
                    <div class="form-group col-md-7">
                      <p style="font-size: 20px;">(+216) {{user.tel}} </p>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputEmail4">Email</label>
                    </div>
                    <div class="form-group col-md-7">
                      <p style="font-size: 20px;"> {{user.email}} </p>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputEmail4">Adress</label>
                    </div>
                    <div class="form-group col-md-7">
                      <p style="font-size: 20px;"> {{user.adresse}} </p>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputEmail4">Date d'embauche</label>
                    </div>
                    <div class="form-group col-md-7">
                      <p style="font-size: 20px;"> {{user.dateEmbauche | date :'longDate'}} </p>
                    </div>
                  </div>

                  <button (click)="modifierProfil(user)" class="btn btn-primary btn-round "
                    style="margin-left: 451px;margin-top: 20px;font-size: 17px;">
                    <i class="fas fa-pen fa-lg"></i>
                    Modifier
                  </button>

                </ng-template>
                <ng-template #elseBlock>
                  <form [formGroup]="myForm" class="needs-validation" novalidate>

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label id="label" for="inputEmail4">Fisrt Name</label>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="nom" formControlName="nom"
                          [(ngModel)]="user.nom" name="name">

                        <div *ngIf="name?.invalid && name?.touched" class="text-danger">
                          First Name is not validated !
                        </div>
                        <div *ngIf="name?.valid && name?.touched" class="text-success">
                          First Name Validated.
                        </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label id="label" for="inputEmail4">Prenom</label>
                      </div>

                      <div class="col-md-6 mb-6">
                        <input type="text" class="form-control" [(ngModel)]="user.prenom" name="prenom"
                          formControlName="prenom" placeholder="prénom">

                        <div *ngIf="prenom?.invalid && prenom?.touched" class="text-danger">
                          Last Name is not validated !
                        </div>
                        <div *ngIf="prenom?.valid && prenom?.touched" class="text-success">
                          Last Name Validated.
                        </div>

                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label id="label" for="inputEmail4">Num Cin</label>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="11111111" [(ngModel)]="user.cin"
                          formControlName="cin" name="cin">

                        <div *ngIf="cin?.invalid && cin?.touched" class="text-danger">
                          Cin is not validated !
                        </div>
                        <div *ngIf="cin?.valid && cin?.touched" class="text-success">
                          Cin Validated.
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label id="label" for="inputEmail4">Num Tel</label>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" [(ngModel)]="user.tel" formControlName="tel" name="tel"
                          placeholder="(+216) 25 369 369 ">

                        <div *ngIf="tel?.invalid && tel?.touched" class="text-danger">
                          Phone Number is not validated !
                        </div>
                        <div *ngIf="tel?.valid && tel?.touched" class="text-success">
                          Phone Number Validated.
                        </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label id="label" for="inputEmail4">Email</label>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="email" class="form-control" placeholder="example@gmail.com" [(ngModel)]="user.email"
                        formControlName="email" name="email">

                      <div *ngIf="email?.invalid && email?.touched" class="text-danger">
                        email is not validated !
                      </div>
                      <div *ngIf="email?.valid && email?.touched" class="text-success">
                        email Validated.
                      </div>
                        </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label id="label" for="inputEmail4">Adress</label>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" [(ngModel)]="user.adresse" formControlName="adresse" name="adresse"
                        placeholder="Bizerte">

                      <div *ngIf="adresse?.invalid && adresse?.touched" class="text-danger">
                        Adress is not validated !
                      </div>
                      <div *ngIf="adresse?.valid && adresse?.touched" class="text-success">
                        Adress Validated.
                      </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label id="label" for="inputEmail4">Date d'embauche </label>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="JJ/MM/YYYY" value="02 Nov 2021"
                          name="prenom" readonly>
                      </div>
                    </div>

                    <button type="submit" (click)="modifierProfil(user)" class="btn btn-success btn-round"
                      style="margin-left: 458px;  font-size: 18px;margin-top: 19px;">
                      <i class="fas fa-save fa-lg"></i>
                      Enregistrer
                    </button>
                  </form>
                </ng-template>



              </div>
            </div>


          </div>
        </div>
      </section>
    </div>
  </div>
</div>
