<div class="main-content" style="background-color: #f3f5f9">
  <div class="container" style="padding-left : 35px !important;padding-top: 30px;padding-right: 30px !important;">
    <div class="row">
      <section id="content" class="container">
        <!-- Begin .page-heading -->
        <div class="page-heading">
          <div class="media clearfix">
            <div class="media-left pr30">
              <a href="#">
                <img class="media-object mw150" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
              </a>
            </div>
            <div class="media-body va-m">
              <h2 class="media-heading"
                style="font-weight: bold;font-size: 50px;padding-left: 94px;padding-top: 109px;font-family: comic sans ms;">
                Michael Halls
                <small style="font-size: 25px !important;"> - Profile</small>
              </h2>
              <div class="media-links">
                <ul class="list-inline list-unstyled" style="padding-top: 21px;padding-left: 199px;">
                  <li>
                    <a href="#" title="facebook link">
                      <span class="fab fa-facebook-square fs35 text-primary"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="twitter link">
                      <span class="fab fa-twitter-square fs35 text-info"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="google plus link">
                      <span class="fab fa-google-plus-square fs35 text-danger"></span>
                    </a>
                  </li>
                  <li class="hidden">
                    <a href="#" title="behance link">
                      <span class="fa fa-behance-square fs35 text-primary"></span>
                    </a>
                  </li>
                  <li class="hidden">
                    <a href="#" title="pinterest link">
                      <span class="fa fa-pinterest-square fs35 text-danger-light"></span>
                    </a>
                  </li>
                  <li class="hidden">
                    <a href="#" title="linkedin link">
                      <span class="fa fa-linkedin-square fs35 text-info"></span>
                    </a>
                  </li>
                  <li class="hidden">
                    <a href="#" title="github link">
                      <span class="fa fa-github-square fs35 text-dark"></span>
                    </a>
                  </li>
                  <li class="">
                    <a href="#" title="phone link">
                      <span class="fa fa-phone-square fs35 text-system"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#" title="email link">
                      <span class="fa fa-envelope-square fs35 text-muted"></span>
                    </a>
                  </li>
                  <li class="hidden">
                    <a href="#" title="external link">
                      <span class="fa fa-external-link-square fs35 text-muted"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="panel">
              <div class="panel-heading">
                <span class="panel-icon">
                  <i class="fa fa-trophy" style="font-size: 18px;"></i>
                </span>
                <span class="panel-title" style="font-weight: bold;"> My Skills</span>
              </div>
              <div class="panel-body pb5" style="height: 120px;padding-top: 20px; ">
                <span class="label label-warning mr5 mb10 ib lh15" style="font-size: 14px;margin-right: 10px;">Communication</span>
                <span class="label label-primary mr5 mb10 ib lh15" style="font-size: 14px;margin-right: 10px;">Computer skills</span><br><br>
                <span class="label label-info mr5 mb10 ib lh15" style="font-size: 14px;margin-right: 10px;">LeaderShip</span>
                <span class="label label-success mr5 mb10 ib lh15" style="font-size: 14px;margin-right: 10px;">Problem-solving</span><br><br>
                <span class="label label-warning mr5 mb10 ib lh15" style="font-size: 14px;margin-right: 10px;">Time Management</span>
                <span class="label label-primary mr5 mb10 ib lh15" style="font-size: 14px;margin-right: 10px;">Customr service</span>

              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">
                <span class="panel-icon">
                  <i class="fas fa-info-circle" style="font-size: 18px;"></i>
                </span>
                <span class="panel-title" style="font-weight: bold;">About Me</span>
              </div>
              <div class="panel-body pb5">

                <h6 style="font-size: 15px;color: gray;padding-top: 10px;">Experience</h6>

                <h4 style="font-size: 20px;padding-left: 12px;">Facebook Internship</h4>
                <p class="text-muted" style="font-size: 15px;"> University of Missouri, Columbia
                  <br> Student Health Center, June 2010 - 2012
                </p>

                <hr class="short br-lighter">

                <h6 style="font-size: 15px;color: gray;padding-top: 10px;">Education</h6>

                <h4 style="font-size: 20px;padding-left: 12px;">Bachelor of Science, PhD</h4>
                <p class="text-muted" style="font-size: 15px;"> University of Missouri, Columbia
                  <br> Student Health Center, June 2010 through Aug 2011
                </p>

                <hr class="short br-lighter">

                <h6 style="font-size: 15px;color: gray;padding-top: 10px;">Accomplishments</h6>

                <h4 style="font-size: 20px;padding-left: 12px;">Successful Business</h4>
                <p class="text-muted pb10" style="font-size: 15px;"> University of Missouri, Columbia
                  <br> Student Health Center, June 2010 through Aug 2011
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-8">

            <div class="tab-block">
              <div class="tab-content p30" style="height: 804px;width: 688px; margin-bottom: 26px;">
                <div id="tab1" class="tab-pane active">
                  <!-- Information-User Terminer-->

                    <div class="card-header card-header-danger" id="backgroundColor">
                      <h4 class="card-title" id="textColor" style="font-size: 25px;font-family: comic sans ms;font-weight: bold;">{{EtatProfil}}</h4>
                    </div>
                    <div class="card-body border-gradient border-gradient-purple on-light">

                      <div *ngIf="test == true ; then thenBlock else elseBlock"></div>
                      <ng-template #thenBlock>
                          <div class="form-group">
                            <label for="inputEmail4">Nom</label>
                            <input type="text" class="form-control" placeholder="Mokded" disabled>
                          </div>
                          <div class="form-group">
                            <label>Prenom</label>
                            <input type="text" class="form-control" placeholder="Maryam" disabled>
                          </div>

                          <div class="form-group">
                            <label for="inputEmail4">Num CIN</label>
                            <input type="text" class="form-control" placeholder="147852236" disabled>
                          </div>
                          <div class="form-group">
                            <label>Num Tel</label>
                            <input type="text" class="form-control" placeholder="(+216) 53 740 917" disabled>
                          </div>

                        <div class="form-group">
                          <label>Email</label>
                          <input type="email" class="form-control" placeholder="maryam@gmail.com" disabled>
                        </div>
                        <div class="form-group">
                          <label>Address</label>
                          <input type="text" class="form-control" placeholder="Bizerte"  disabled>
                        </div>
                        <div class="form-group">
                          <label>Date d'embauche </label>
                          <input type="text" class="form-control" placeholder="02 Nov 2021" disabled>
                        </div>

                        <button (click)="modifierProfil()" class="btn btn-primary btn-round "  style="margin-left: 451px;margin-top: 20px;font-size: 17px;">
                          <i class="fas fa-pen fa-lg"></i>
                          Modifier
                        </button>

                      </ng-template>
                      <ng-template #elseBlock>
                        <form  class="needs-validation" novalidate>
                           <div class="form-group">
                              <label>Nom</label>
                              <input type="text" class="form-control" placeholder="Mokded" name="nom">
                             </div>
                            <div class="form-group">
                              <label>Prenom</label>
                              <input type="text" class="form-control" placeholder="Maryam" name="prenom">
                            </div>
                            <div class="form-group">
                              <label>Num CIN</label>
                              <input type="text" class="form-control" placeholder="11427586" name="cin">
                             </div>
                            <div class="form-group">
                              <label>Num Tel</label>
                              <input type="tel" class="form-control" placeholder="53740917" name="tel">
                          </div>
                          <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Maryam@gmail.com"  name="email">

                          </div>
                          <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" placeholder="Bizerte"  name="adress">
                          </div>
                          <div class="form-group">
                            <label>Date d'embauche </label>
                            <input type="text" class="form-control" placeholder="12 Nov 2019" name="dateEmbauche" readonly>
                          </div>

                          <button type="submit"  (click)="modifierProfil()"
                            class="btn btn-success btn-round" style="margin-left: 458px;  font-size: 18px;margin-top: 19px;">
                            <i class="fas fa-save fa-lg"></i>
                            Enregistrer
                          </button>
                        </form>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>
    </div>
  </div>
</div>
