<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div style=" padding-top: 109px;" class="left-content show-up header-text wow fadeInLeft"
              data-wow-duration="1s" data-wow-delay="1s">
              <div class="row" style=" height: 438px; width: 411px;padding-top: 59px;">
                <div class="col-lg-12">
                  <h2 class="translateLefet">Sign In</h2>


                  <form action="#" method="post">

                    <div *ngIf="err==1">
                      <strong style="color:rgb(167, 33, 33)">login ou mot de passe erronés ...</strong>
                     </div>

                    <div class="form-group first">
                      <input id="input" type="text" class="form-control translateLefet" name="username" placeholder="Username"  [(ngModel)]="user.username" >
                    </div>
                    <div class="form-group last mt-2">
                      <input [type]="mdp" id="input" class="form-control translateLefet" name="password" placeholder="Password"  [(ngModel)]="user.password" >

                    </div>

                    <div class="form-check translateLefet" id="checkbox">
                      <input type="checkbox" (click)="myFunction()" style="margin-right: 7px;">
                      <label class="form-check-label" for="exampleCheck1">Show Password </label>
                    </div>
                    <div id="btnDiv">
                      <div>
                        <!-- <input type="submit" value="Log In" class="btn btn-primary translateLefet" id="btnLogin"> -->
                        <input type="submit"  (click)="onLoggedin()" routerLinkActive="router-link-active"  value="Log In" class="btn btn-primary translateLefet" id="btnLogin">

                      </div>
                      <div>
                        <button routerLink="//home" class="btn btn-secondary translateLefet" id="btnAnnuler">Back</button>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="../../../assets/user-login.webp" style="width: 474px; height: 638px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
