<app-navbar-external></app-navbar-external>

<div class="container">
  <div class="row">
    <div class="col-md-12">

        <h1>- Our History - </h1>

      <div class="main-timeline" style="margin-top: 25px;">
        <div class="timeline">
          <a class="timeline-content">
            <div class="timeline-year">1950</div>
            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
            <h3 class="title">our beginning</h3>
            <p class="description">
              Founded in 1950, Société des Ciments Portland de Bizerte (CPB) started its first line in 1953 </p>
          </a>
        </div>
      </div>



      <div class="main-timeline1" style="margin-top: 25px;">
        <div class="timeline1">
          <a class="timeline-content1" style="left: 400px;">
            <div class="timeline-year1">1959</div>
            <div class="timeline-icon1"><i class="fa fa-rocket"></i></div>
            <h3 class="title">Step  One </h3>
            <p class="description">
              From 1959, the tunisification procedures were put in place under the management of a judicial administrator. In 1976, they led to the creation of the Société des Ciments de Bizerte (SCB), a public company in the form of a public limited company with share capital of 14,598,283,000 D in which the State holds 99.52% of the shares and the private sector 0, 48% of the shares.  </a>
        </div>
      </div>



      <div class="main-timeline2" style="margin-top: 25px;">
        <div class="timeline2">
          <a class="timeline-content2">
            <div class="timeline-year2">1976</div>
            <div class="timeline-icon2"><i class="fa fa-rocket"></i></div>
            <h3 class="title">Second Step </h3>
            <p class="description">
              In 1976, it became the Société des Ciments de Bizerte (SCB), a public company in the form of a public limited company with share capital of 14,598,283,000 D in which the State holds 99.52% of the shares and the private sector 0.48% of the shares. shares.</p>
          </a>
        </div>
      </div>



      <div class="main-timeline3" style="margin-top: 25px;">
        <div class="timeline3">
          <a class="timeline-content3" style="left: 400px;">
            <div class="timeline-year3">1978</div>
            <div class="timeline-icon3"><i class="fa fa-rocket"></i></div>
            <h3 class="title">Third Step </h3>
            <p class="description">
              In 1978, the second line started up and the first line was transformed into an integral dry process and equipped with electro-filters at 150 mg/Nm3 and its capacity was increased to 600 T/day.</a>
        </div>
      </div>



      <div class="main-timeline4" style="margin-top: 25px;">
        <div class="timeline4">
          <a class="timeline-content4" >
            <div class="timeline-year4">1987</div>
            <div class="timeline-icon4"><i class="fa fa-rocket"></i></div>
            <h3 class="title">Fourth Step </h3>
            <p class="description">
              In 1978 and 1987 with an installed capacity of 2600 T and despite some economic disturbances, SCB contributed to consolidating the capacities of the national hydraulic binder sector.</a>
        </div>
      </div>



      <div class="main-timeline5" style="margin-top: 25px;">
        <div class="timeline5">
          <a class="timeline-content5" style="left: 400px;">
            <div class="timeline-year5">2000</div>
            <div class="timeline-icon5"><i class="fa fa-rocket"></i></div>
            <h3 class="title">	Fifth Step </h3>
            <p class="description">
              Our Cement products were initially approved during the 90s and then certified during the 2000s in accordance with the requirements of Tunisian and European standards. </a>
        </div>
      </div>



      <div class="main-timeline6" style="margin-top: 25px;">
        <div class="timeline6">
          <a class="timeline-content6">
            <div class="timeline-year6">2002</div>
            <div class="timeline-icon6"><i class="fa fa-rocket"></i></div>
            <h3 class="title">Sixth Step </h3>
            <p class="description">
              In 2002, it experienced an increase in its capital to D35,237,833.324 in order to cope with its upgrading program which will consolidate its strategic position in the rapidly changing national binder sector. One of the fundamental targets of this program is the control of production costs and its environmental situation dictated by its insertion into the suburban fabric.
              </p>
              </a>
            </div>
      </div>

      <div class="main-timeline7" style="margin-top: 25px;">
        <div class="timeline7">
          <a class="timeline-content7" style="left: 400px;">
            <div class="timeline-year7">2007</div>
            <div class="timeline-icon7"><i class="fa fa-rocket"></i></div>
            <h3 class="title">Seventh Step </h3>
            <p class="description">
              In 2007, an environmental management system was introduced and SCB was ISO 14001:2004 certified.

              In order to complete its second upgrading program (PMN2), a total renovation was carried out in the factory with the removal of the two old furnaces and the installation of a new 3800T/day baking line, a calorific consumption of 760 therms per ton and atmospheric emissions from the chimney of less than 20 mg/Nm3.</a>
        </div>
      </div>

      <div class="main-timeline8" style="margin-top: 25px;">
        <div class="timeline8">
          <a class="timeline-content8">
            <div class="timeline-year8">2009</div>
            <div class="timeline-icon8"><i class="fa fa-rocket"></i></div>
            <h3 class="title">Eighth Step </h3>
            <p class="description">
              In 2009, SCB was listed on the Stock Exchange for 20% of its capital.  </p>
              A total renovation was carried out in the factory with the removal of the two old furnaces and the installation of a new cooking line of 3800T/day, a calorific consumption of 760 therms per ton and atmospheric emissions of the chimney lower than 20 mg/Nm3.
            </a>
        </div>
      </div>

      <div class="main-timeline9" style="margin-top: 25px;margin-bottom: 15px;">
        <div class="timeline9">
          <a class="timeline-content9" style="left: 400px;">
            <div class="timeline-year9">2014</div>
            <div class="timeline-icon9"><i class="fa fa-rocket"></i></div>
            <h3 class="title">Ninth Step </h3>
            <p class="description">
              In June 2014, the Quai des Ciments de Bizerte received the first Clincker loading vessel through the new BEDESCHI loading and unloading facility developing its export capacity.</a>
        </div>
      </div>


    </div>
