<div class="main-content" style="background-color: #f3f5f9">
  <div class="container" style="padding-left : 35px !important;padding-top: 30px;padding-right: 30px !important;">
    <h2 class="section-heading" *ngIf="direction">Direction : {{direction.nom_Direction}}</h2>
    <div class="Action">
      <div>
        <h3 id="piloteStyle"> Pilote :
          <span *ngIf="pilote">
            {{pilote.nom}} {{pilote.prenom}}
          </span>
        </h3>
      </div>
      <div>
        <button (click)="AfficherNews()" *ngIf="testNotify == false" type="button" class="btn btn-warning"
          id="btnNews"><i class="fas fa-newspaper" style="color:#cb726c"></i> News</button>
        <button (click)="Notify()" *ngIf="testNotify == true && pilote" type="button" class="btn btn-warning"
          id="btnNotif"> <i class="fas fa-bell" style="color:#ffc107"></i> Notify</button>
      </div>
      <div>
        <button *ngIf="historique == true" (click)="AfficherNews()" type="button" class="btn btn-secondary"
          id="btnHistorique"> <i class="fas fa-newspaper" style="color:#6c757d"></i> News</button>

        <button *ngIf="historique == false" (click)="AfficherHistorique()" type="button" class="btn btn-secondary"
          id="btnHistorique"> <i class="fas fa-history" style="color:#6c757d"></i> History</button>
      </div>

    </div>
  </div>
</div>

<div class="main-content">
  <div class="container-fluid" *ngIf="testNotify == true">
    <div class="row">
      <div class="col-md-12">
        <div class="DivAlertWarning" *ngIf="historique == false">
          <div *ngIf="pilote" class="alert alert-warning AlertWarning" role="alert">
            <i class="fas fa-bell" style="color:#ffc107"></i>
            No data Found ... you can notify {{pilote.nom}} {{pilote.prenom}} !
          </div>
          <div *ngIf="!pilote" class="alert alert-warning AlertWarning" role="alert">
            <i class="fas fa-bell" style="color:#ffc107"></i>
            No pilote for this direction
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" id="card-Table" *ngIf="historique == false">
        <div class="card" *ngIf="testNotify == false">
          <div class="card-header card-header-danger" id="title-Table">
            <h3 class="card-title" id="titre">Formation List</h3><br>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th id="entete-Table">
                    Employee Name
                  </th>
                  <th id="entete-Table">
                    Employee Profession
                  </th>
                  <th id="entete-Table">
                    Action
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let formation of FormationList">
                    <td id="Cont">
                      {{formation.user?.nom}}
                      {{formation.user?.prenom}}
                    </td>
                    <td id="Cont">
                      {{formation.user?.profession}}
                    </td>

                    <td class="text-primary" style=" padding-left: 35px;">
                      <a (click)="DetailsFormation(formation)" class="view"
                        style="cursor: pointer;color: #4885a1;margin-right: 6px;" data-toggle="modal"><i
                          class="material-icons" data-toggle="tooltip" title="View Formation details">&#xE417;</i></a>
                      <a (click)="AcceptFormation(formation)" class="accept" style="cursor: pointer;"
                        data-toggle="modal"><i class="material-icons" data-toggle="tooltip"><i title="Accepted"
                            class="fas fa-check"></i></i></a>
                      <a (click)="RefuseFormation(formation)" class="delete" data-toggle="modal"><i
                          class="material-icons" data-toggle="tooltip"><i title="Refused"
                            class="fas fa-times"></i></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row" *ngIf="historique == true">

      <table class="table table-hover">
        <thead>
          <th scope="col" id="td">Employee Name</th>
          <th scope="col" id="td">Employee Profession</th>
          <th scope="col" id="td">Formation</th>
          <th scope="col" id="td">Action</th>

        </thead>
        <tbody>
          <tr *ngFor="let historique of HistoriqueList" (click)="DetailsHistorique(historique)">
            <td id="td"> {{historique.user?.nom}} {{historique.user?.prenom}}</td>
            <td id="td">{{historique.user?.profession}}</td>
            <td id="td">{{historique.theme_H}}</td>
            <td *ngIf="historique.accept_H == 0" id="td" class="refused">Refused</td>
            <td *ngIf="historique.accept_H == 1" id="td" class="accepted">Accepted</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>




<div class="toast {{ShowToast}}" id="ToastDiv" style="bottom: 10px;">
  <div id=TostSuccessTile class="toast-header">
    <strong class="mr-auto">
      <span class="mr-3">
        <i class="fas fa-check"></i>
      </span>Success</strong>
    <small style="color: gray;">
      {{counter}} second ago</small>
  </div>
  <div id="TostSuccessContenu" class="toast-body" *ngIf="pilote">
    Notification send successfully to {{pilote.nom}} {{pilote.prenom}}
  </div>
</div>