<div class="main-content" style="background-color: #f3f5f9">
    <div class="container" style="padding-left : 20px !important;padding-top: 30px;padding-right: 30px !important;">

      <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-1" style="border-radius: 25px;height: 173px; padding-top: 17px;">
                <div class="card-body CardS">
                    <h3 class="card-title text-white" style="font-weight: bold;">Products Sold</h3><br><br>
                    <div class="d-inline-block">
                        <h2 class="text-white" style="font-size: 35px;">4565</h2>
                        <p class="text-white mb-0" style="font-size: 15px;">Jan - March 2019</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart" style="font-size: 55px; padding-top: 13px;"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-2" style="border-radius: 25px;height: 173px; padding-top: 17px;">
                <div class="card-body CardS">
                    <h3 class="card-title text-white" style="font-weight: bold;">Net Profit</h3><br><br>
                    <div class="d-inline-block">
                        <h2 class="text-white" style="font-size: 35px;">$ 8541</h2>
                        <p class="text-white mb-0" style="font-size: 15px;">Jan - March 2019</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-money" style="font-size: 55px; padding-top: 13px;"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-3" style="border-radius: 25px;height: 173px; padding-top: 17px;">
                <div class="card-body CardS">
                    <h3 class="card-title text-white" style="font-weight: bold;">New Customers</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white" style="font-size: 35px;">4565</h2>
                        <p class="text-white mb-0" style="font-size: 15px;">Jan - March 2019</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-users" style="font-size: 55px; padding-top: 13px;"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-4" style="border-radius: 25px;height: 173px; padding-top: 17px;">
                <div class="card-body CardS">
                    <h3 class="card-title text-white" style="font-weight: bold;">Customer Satisfaction</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white" style="font-size: 35px;">99%</h2>
                        <p class="text-white mb-0" style="font-size: 15px;">Jan - March 2019</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-heart" style="font-size: 55px; padding-top: 13px;"></i></span>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
      <div class="col-lg-12">
          <div class="row">
              <div class="col-12">
                  <div class="card">
                      <div class="card-body pb-0 d-flex justify-content-between">
                          <div>
                              <h4 class="mb-1">Product Sales</h4>
                          </div>
                      </div>
                      <div class="chart-wrapper">
                        <div id="container"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6">

        <div class="card">
            <div class="chart-wrapper mb-4">
                <div class="px-4 pt-4 d-flex justify-content-between">
                    <div>
                        <h4>Sales Activities</h4>
                        <p>Last 6 Month</p>
                    </div>
                    <div>
                        <span><i class="fa fa-caret-up text-success"></i></span>
                        <h4 class="d-inline-block text-success">720</h4>
                        <p class=" text-danger">+120.5(5.0%)</p>
                    </div>
                </div>
                <div>
                        <canvas id="chart_widget_3"></canvas>
                </div>
            </div>
            <div class="card-body border-top pt-4">
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li>5% Negative Feedback</li>
                            <li>95% Positive Feedback</li>
                        </ul>
                        <div>
                            <h5>Customer Feedback</h5>
                            <h3>385749</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="chart_widget_3_1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Activity</h4>
                <div id="activity">
                    <div class="media border-bottom-1 pt-3 pb-3">
                        <img width="35" src="./images/avatar/1.jpg" class="mr-3 rounded-circle">
                        <div class="media-body">
                            <h5>Received New Order</h5>
                            <p class="mb-0">I shared this on my fb wall a few months back,</p>
                        </div><span class="text-muted ">April 24, 2018</span>
                    </div>
                    <div class="media border-bottom-1 pt-3 pb-3">
                        <img width="35" src="./images/avatar/2.jpg" class="mr-3 rounded-circle">
                        <div class="media-body">
                            <h5>iPhone develered</h5>
                            <p class="mb-0">I shared this on my fb wall a few months back,</p>
                        </div><span class="text-muted ">April 24, 2018</span>
                    </div>
                    <div class="media border-bottom-1 pt-3 pb-3">
                        <img width="35" src="./images/avatar/2.jpg" class="mr-3 rounded-circle">
                        <div class="media-body">
                            <h5>3 Order Pending</h5>
                            <p class="mb-0">I shared this on my fb wall a few months back,</p>
                        </div><span class="text-muted ">April 24, 2018</span>
                    </div>
                    <div class="media border-bottom-1 pt-3 pb-3">
                        <img width="35" src="./images/avatar/2.jpg" class="mr-3 rounded-circle">
                        <div class="media-body">
                            <h5>Join new Manager</h5>
                            <p class="mb-0">I shared this on my fb wall a few months back,</p>
                        </div><span class="text-muted ">April 24, 2018</span>
                    </div>
                    <div class="media border-bottom-1 pt-3 pb-3">
                        <img width="35" src="./images/avatar/2.jpg" class="mr-3 rounded-circle">
                        <div class="media-body">
                            <h5>Branch open 5 min Late</h5>
                            <p class="mb-0">I shared this on my fb wall a few months back,</p>
                        </div><span class="text-muted ">April 24, 2018</span>
                    </div>
                    <div class="media border-bottom-1 pt-3 pb-3">
                        <img width="35" src="./images/avatar/2.jpg" class="mr-3 rounded-circle">
                        <div class="media-body">
                            <h5>New support ticket received</h5>
                            <p class="mb-0">I shared this on my fb wall a few months back,</p>
                        </div><span class="text-muted ">April 24, 2018</span>
                    </div>
                    <div class="media pt-3 pb-3">
                        <img width="35" src="./images/avatar/3.jpg" class="mr-3 rounded-circle">
                        <div class="media-body">
                            <h5>Facebook Post 30 Comments</h5>
                            <p class="mb-0">I shared this on my fb wall a few months back,</p>
                        </div><span class="text-muted ">April 24, 2018</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>




       <!-- Geographic Location in Bizerte -->
      <div class="row">
        <div class="col-xl-6 col-lg-12 col-sm-12 col-xxl-12">
          <div class="card">
            <h4 class="card-title mb-0 Titre">Store Location</h4>
            <div class="card-body">

              <div id="world-map" style="height: 470px;"></div>
            </div>
          </div>
        </div>
      </div>




      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="social-graph-wrapper widget-facebook">
              <span class="s-icon"><i class="fab fa-facebook" id="iconSocial"></i></span>
            </div>
            <div class="row">
              <div class="col-6 border-right">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">89k</h4>
                  <p class="m-0">Friends</p>
                </div>
              </div>
              <div class="col-6">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">119k</h4>
                  <p class="m-0">Followers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="social-graph-wrapper widget-linkedin">
              <span class="s-icon"><i class="fab fa-linkedin-in" id="iconSocial"></i></span>
            </div>
            <div class="row">
              <div class="col-6 border-right">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">89k</h4>
                  <p class="m-0">Friends</p>
                </div>
              </div>
              <div class="col-6">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">119k</h4>
                  <p class="m-0">Followers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="social-graph-wrapper widget-googleplus">
              <span class="s-icon"><i class="fab fa-google-plus" id="iconSocial"></i></span>
            </div>
            <div class="row">
              <div class="col-6 border-right">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">89k</h4>
                  <p class="m-0">Friends</p>
                </div>
              </div>
              <div class="col-6">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">119k</h4>
                  <p class="m-0">Followers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="social-graph-wrapper widget-twitter">
              <span class="s-icon"><i class="fab fa-twitter" id="iconSocial"></i></span>
            </div>
            <div class="row">
              <div class="col-6 border-right">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">89k</h4>
                  <p class="m-0">Friends</p>
                </div>
              </div>
              <div class="col-6">
                <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                  <h4 class="m-1">119k</h4>
                  <p class="m-0">Followers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


              <!-- <div style="display: block">
                    <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets"
                        [labels]="chartLabels"
                        [colors]="chartColors"
                        [options]="chartOptions"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
              </div> -->

