<div class="wrapper" *ngIf="Employee">
    <div class="card text-white">
        <div class="bg-pink text">
          {{Employee.nom}}
          {{Employee.prenom}}
        </div>
        <div class="user">
        </div>
        <div class="px-3">
            <div class="d-flex align-items-center justify-content-between py-3 pe-none">
                <div class="details snippets">
                </div>

                <div class="details post">
                </div>
            </div><br>
            <div class="skills">
                <div class="head" style="font-size :20px">Information</div>
                <div class=" pb-3 pt-2">

                  <div class="text-uppercase fs-08 TypeFormation">
                    <span id="titre"> Direction : </span>
                    <span id="titre">{{Employee.direction?.nom_Direction}}</span>
                  </div>

                  <div class="text-uppercase fs-08 TypeFormation">
                    <span id="titre"> Profession : </span>
                    <span id="titre">{{Employee.profession}}</span>
                  </div>

                  <div class="text-uppercase fs-08 TypeFormation">
                    <span id="titre"> Email : </span>
                    <span id="titre">{{Employee.email}}</span>
                  </div>
                  <div class="text-uppercase fs-08 TypeFormation">
                    <span id="titre"> Date Embauch : </span>
                    <span id="titre">{{Employee.dateEmbauche | date :'longDate'}}</span>
                  </div>
                  <div class="text-uppercase fs-08 TypeFormation">
                    <span id="titre"> CIN : </span>
                    <span id="titre">{{Employee.cin}}</span>
                  </div>
                    <div class="text-uppercase fs-08 TypeFormation">
                      <span id="titre"> Phone Number : </span>
                      <span id="titre">{{Employee.tel}}</span>
                    </div>
                    <div class="text-uppercase fs-08 TypeFormation">
                      <span id="titre"> Matricule : </span>
                      <span id="titre">{{Employee.matricule}}</span>
                    </div>
                </div>
            </div>

            <div class="details project">
              <div class="head text-uppercase">
                <button (click)="onClose()" class="btn btn  btn-rounded waves-effect w-md waves-light" style=" margin-left: 500px !important;font-size: 20px;margin-bottom:15px;padding:7px">
                  Close Details
                </button>
              </div>
          </div>


        </div>
    </div>
  </div>
